* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

/* Colours values used in the layout #fff, #222, #000,  and #f8fafc. */

body{
  font-family: poppins;
}

h1 {
  font-size: 2.027rem;
  font-weight: normal;
}

h2 {
  font-size: 1.802rem;
  text-align: center;
}

h3 {
  font-size: 1.266rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  padding: 0.5em;
}

#product-shots .wrapper {
  display: grid;
  grid-template-areas:
  "div1 div1 div1"
  "div1 div1 div1"
  "div2 div3 div4";
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
}

#product-shots img {
  width: 100%;
  padding: 0.5em;
  border-radius: 5%;
}
 
#product-shots img:nth-child(1) {
  grid-area: div1;
}

#product-shots img:nth-child(2) {
  grid-area: div2;
}

#product-shots img:nth-child(3) {
  grid-area: div3;
}

#product-shots img:nth-child(4) {
  grid-area: div4;
} 

#sweetheart .wrapper {
  margin: auto;
  border: 0.5em;
  padding: 0.5em;
}
#sweetheart #limited {
  text-transform: uppercase;
  font-weight: bold;
}

#sweetheart .btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5%;
  align-self: center;
  margin: auto;
}

#behind-the-dough {
  background-color: #f8fafc;
  padding: 0.5em;
}

